/* PrismJS 1.23.0
https://prismjs.com/download.html#themes=prism-solarizedlight&languages=markup+css+clike+javascript+python+r+sas */
/*
 Solarized Color Schemes originally by Ethan Schoonover
 http://ethanschoonover.com/solarized

 Ported for PrismJS by Hector Matos
 Website: https://krakendev.io
 Twitter Handle: https://twitter.com/allonsykraken)
*/

/*
SOLARIZED HEX
--------- -------
base03    #002b36
base02    #073642
base01    #586e75
base00    #657b83
base0     #839496
base1     #93a1a1
base2     #eee8d5
base3     #fdf6e3
yellow    #b58900
orange    #cb4b16
red       #dc322f
magenta   #d33682
violet    #6c71c4
blue      #268bd2
cyan      #2aa198
green     #859900
*/

 .language-r >.token.function {
  color: #06249c;
}
.language-r >.token.namespace {
  color: #0025f5;
  opacity: .7;
}
.language-r > .token.variable {
  color: #242426;
}

.language-r > .token.comment{
color: #3e6e34;
}

.language-r > .token.property,
.language-r > .token.tag,
.language-r > .token.boolean,
.language-r > .token.number,
.language-r > .token.symbol,
.language-r > .token.deleted {
	color: #0025f5;	
}

.language-r > .token.constant{
 color: #52940c;	
}

/********************************
    FIN R
********************************/
/********************************
    DEBUT PYTHON
********************************/
.language-python >.token.function {
  color: #0025f5;
}
.language-python >.token.namespace {
  color: #0025f5;
  opacity: .7;
}
.language-python > .token.variable {
  color: #242426;
}

.language-python > .token.comment{
color: #618791;
}
.language-python > .token.keyword {
	color: #2e6b0d;
	font-weight: bold;
}
.language-python > .token.property,
.language-python > .token.tag,
.language-python > .token.boolean,
.language-python > .token.number,
.language-python > .token.constant,
.language-python > .token.symbol,
.language-python > .token.deleted {
	color: #0025f5;
}
 
.language-python > .token.triple-quoted-string{
	color: #ab0c14;
}
/*********** FIN PYTHON ******************/
:not(pre.language-sas) > code,
pre.language-sas {
    background-color: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 1em;
} /* Inline code */
:not(pre.language-sas) > code {
    position: relative;
    padding: 0.2em;
    border-radius: 0.3em;
    color: #c92c2c;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: inline;
    white-space: normal;
}
pre.language-sas:before,
pre.language-sas:after {
    content: "";
    z-index: -2;
    display: block;
    position: absolute;
    bottom: 0.75em;
    left: 0.18em;
    width: 40%;
    height: 20%;
    max-height: 13em; /*box-shadow: 0px 13px 8px #979797;*/
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);
}
:not(pre.language-sas) > code:after,
pre.language-sas:after {
    right: 0.75em;
    left: auto;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
}

.language-sas > .token.comment,
.language-sas > .token.block-comment,
.language-sas > .token.prolog,
.language-sas > .token.doctype,
.language-sas > .token.cdata {
    color: #1b7a1b;
}
.language-sas > .token.punctuation {
    color: #686868;
}
.language-sas > .token.property,
.language-sas > .token.tag,
.language-sas > .token.boolean,
.language-sas > .token.number,
.language-sas > .token.constant,
.language-sas > .token.symbol,
.language-sas > .token.deleted {
    color: #08726d;
}
.language-sas > .token.step.keyword,
.language-sas > .token.macro-declaration .language-sas > .token.keyword,
.language-sas > .token.macro-end .language-sas > .token.keyword {
    color: #000080;
    font-weight: 600;
}
.token.datalines.string {
    color: #89632b;
}
.language-sas > .token.selector,
.language-sas > .token.attr-name,
.language-sas > .token.string,
.language-sas > .token.char,
.language-sas > .token.function,
.language-sas > .token.builtin,
.language-sas > .token.inserted {
    color: #800080;
}
.language-sas > .token.operator,
.language-sas > .token.entity,
.language-sas > .token.url,
.language-sas > .token.variable {
    color: #a67f59; /*background: rgba(255, 255, 255, 0.5);*/
}
.language-sas > .token.atrule,
.language-sas > .token.attr-value,
.language-sas > .token.keyword,
.language-sas > .token.input.keyword,
.language-sas > .token.arg.keyword,
.language-sas > .token.specialOperator.operator,
.language-sas > .token.class-name {
    color: #0000ff;
}
.language-sas > .token.regex,
.language-sas > .token.important {
    color: #e90;
}
.language-css .language-sas > .token.string,
.style .language-sas > .token.string {
    color: #a67f59; /*background: rgba(255, 255, 255, 0.5);*/
}
.language-sas > .token.important {
    font-weight: normal;
}
.language-sas > .token.bold {
    font-weight: bold;
}
.language-sas > .token.italic {
    font-style: italic;
}
.language-sas > .token.entity {
    cursor: help;
}
.language-sas > .namespace {
    opacity: 0.7;
}


/******** FIN sas *******/

code[class*="language-"],
pre[class*="language-"] {
	color: black;
	background: none;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #ffffff;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.token.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #9a6e3a;
	/* This background color was intended by the author of this theme. */
	background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}

.token.function,
.token.class-name {
	color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
	color: #e90;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}


/* Clipboard --------------------------*/

.hasCopyButton {
  position: relative;
}

.btn-copy-ex {
  position: absolute;
  right: 0;
  top: 0;
  visibility: hidden;

}

.hasCopyButton:hover button.btn-copy-ex {
  visibility: visible;
}

/* Show language*/

div.code-toolbar {
	position: relative;
}

div.code-toolbar > .toolbar {
	position: absolute;
	top: 0;
	left: .2em;
	transition: opacity 0.3s ease-in-out;
	opacity: 0;
}

div.code-toolbar:hover > .toolbar {
	opacity: 1;
}

/* Separate line b/c rules are thrown out if selector is invalid.
   IE11 and old Edge versions don't support :focus-within. */
div.code-toolbar:focus-within > .toolbar {
	opacity: 1;
}

div.code-toolbar > .toolbar .toolbar-item {
	display: inline-block;
}

div.code-toolbar > .toolbar a {
	cursor: pointer;
}

div.code-toolbar > .toolbar button {
	background: none;
	border: 0;
	color: inherit;
	font: inherit;
	line-height: normal;
	overflow: visible;
	padding: 0;
	-webkit-user-select: none; /* for button */
	-moz-user-select: none;
	-ms-user-select: none;
}

div.code-toolbar > .toolbar a,
div.code-toolbar > .toolbar button,
div.code-toolbar > .toolbar span {
	color: #bf800a;
	font-size: 0.8em;
	padding: 0 .5em;
	font-weight: 1000;
	background: #f5f2f0;
	box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
	border-radius: .5em;
}

div.code-toolbar > .toolbar a:hover,
div.code-toolbar > .toolbar a:focus,
div.code-toolbar > .toolbar button:hover,
div.code-toolbar > .toolbar button:focus,
div.code-toolbar > .toolbar span:hover,
div.code-toolbar > .toolbar span:focus {
	color: #f5f2f0;
	text-decoration: none;
}

.btn-copy-ex {
  background-color: #564661 !important;
}

.btn-copy-ex:hover,
.btn-copy-ex:focus,
.btn-copy-ex:active:hover {
  background-color: #564661 !important;
  border-color: #564661 !important;
}

img.resize{
	width: 50%;
}




